#page-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#page-login form {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}

#page-login form .controls {
  display: flex;
}

#page-login form .controls p {
  cursor: pointer;
}

#page-login form .controls p:not(:first-child) {
  margin-left: 35px;
}

#page-login form .controls p.inactive {
  opacity: 0.5;
}
#page-login form .controls p.active {
  padding-bottom: 2px;
  border-bottom: solid 3px #2846CA;
}

#page-login form legend{
  font-size: 42px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 32px;
}
#page-login form h3 {
  margin-top: 52px;
}

#page-login form .form-group {
  position: relative;
}

#page-login form .form-group {
  margin-top: 29px;
  width: 475px;
}

#page-login form .form-group small{
  position: absolute;
  color: #777;
  right: 0;
  line-height: 18px;
  font-size: 14px;
}

#page-login form input {
  border: none;
  outline: 0;
  background: #F4F5F4;
  width: 100%;
  height: 56px;
  padding: 5px 15px;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 5px;
}

#page-login form button {
  margin-top: 25px;
  height: 49px;
  width: 100%;
  border: none;
  outline: 0;
  border-radius: 4px;
  background: #2846CA;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

#page-login form button:hover {
  opacity: 0.9;
}

#page-login .signup {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

#page-login .signup .link{
  text-decoration: none;
  margin-top: 4px;
  color: #2846CA;
}