@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input, button, select, body {
  font-family: 'Roboto';
  font-size: 18px;
}

body {
  width: 100vw;
  overflow-x: hidden;
}